%form{:action => "https://www.amazon.com/gp/aws/cart/add.html", :method => "GET", target: '_blank'}
  %input{:name => "AssociateTag", :type => "hidden", :value => "pricelscom-20"}/
  %input{:name => "SubscriptionId", :type => "hidden", :value => "[AWSAccessKeyId]"}/
  %input{:name => "ASIN.1", :type => "hidden", :value => "#{result[:id]}"}/
  %input{:name => "Quantity.1", :type => "hidden", :value => "1"}/
  %button.add-cart-product.button-small.waves-effect.waves-circle.waves-float
    = icon('amazon')
    Buy Now
