<p></p>
<p></p>
<p><% form_tag search_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:query] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %></p>



<% @results.each do |result| %>
  <div class='panel panel-default'><% result.each do |key, value| %>
    <strong><%= key %></strong>: <%= value%> <br>
  <% end %></div>
<% end %>
