.container
  .row
    = render 'layouts/search'
    - @results.each do |result|
      .panel.panel-default
        - result.each do |key, value|
          %strong>= key
          \: #{value}
          %br
