- if @history && @history[:price].presence
  .panel.panel-default
    .panel-heading
      %h4
        = icon('line-chart')
        Pricing History
    .panel-body
      = line_chart @history[:price], min: @min_price, max: @max_price
      - unless browser.bot?
        = linkedin_button
