- if @history && @history[:price].presence
  .panel.panel-default
    .panel-heading
      %h4 Price History
    .panel-body
      = line_chart @history[:price], min: @min_price, max: @max_price
      = linkedin_button
  = render 'layouts/responsive_ad'
