- if @related.presence
  .panel.panel-default
    .panel-heading
      %h4 Compare Prices
    .panel-body
      %ul.list-unstyled
        - @related.each_with_index do |result, index|
          = render 'search/horizontal_result', result: result
