- if @result[:social].presence
  .panel.panel-default
    .panel-heading
      %h4 Popularity on Social Networks
    .panel-body
      = pie_chart @result[:social].select {|k,v| k != :total_shares }
      = bar_chart @result[:social].select {|k,v| k != :total_shares }
      - if @social_charts.presence
        = line_chart @social_charts
      - unless browser.bot?
        = linkedin_button
