- if @videos.presence
  .panel.panel-default
    .panel-heading
      %h4 Videos
    .panel-body
      .list-group
        - @videos.each do |video|
          %a.list-group-item{:href => video[:url]}
            %img.img-responsive{:alt => video[:description], :src => video[:image], target: '_blank'}
            %strong
              #{video[:length]}
            #{video[:title]}
            %strong
              #{video[:published]}
  = render 'layouts/responsive_ad'
