default: &default
  admin:
    first_name: First
    last_name: User
    email: user@example.com
    password: changeme
    email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
    email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
    domain_name: example.com
  pricels:
    api_key: '32 bit key'
  site:
    name: Braniac
    slogan: Welcome to Ruby Software As A Service
    description: 30 day free trial

development:
  <<: *default

production:
  <<: *default

test:
  <<: *default
