/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

#ad_root {
  display: none;
  font-size: 14px;
  height: 250px;
  line-height: 16px;
  position: relative;
  width: 300px;
}
.thirdPartyMediaClass {
  height: 157px;
  width: 300px;
}
.thirdPartyTitleClass {
  font-weight: 600;
  font-size: 16px;
  margin: 8px 0 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.thirdPartyBodyClass {
  display: -webkit-box;
  height: 32px;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.thirdPartyCallToActionClass {
  color: #326891;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 8px;
}
