.fb-ad{"data-format" => "native", "data-nativeadid" => "ad_root", "data-placementid" => "1008307585917302_1059090234172370", "data-testmode" => "false"}
#ad_root
  %a.fbAdLink
    .fbAdMedia.thirdPartyMediaClass
    .fbAdTitle.thirdPartyTitleClass
    .fbAdBody.thirdPartyBodyClass
    .fbAdCallToAction.thirdPartyCallToActionClass
