.container-fluid
  %ul.pager
    -if pagination[:prev_page]
      %li.previous
        %a{:href => pagination[:prev_page]} &larr; Previous
    -else
      %li.previous.disabled
        %a{:href => '#'} &larr; Previous
    -if pagination[:next_page]
      %li
        %a{:href => pagination[:total_pages]} Last &rarr;
      %li.next
        %a{:href => pagination[:next_page]} Next &rarr;
    -else
      %li.disabled
        %a{:href => '#'} Last &rarr;
      %li.next.disabled
        %a{:href => '#'} Next &rarr;
