%div{"style" => "text-align: center;"}
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-4228490019228264", "data-ad-format" => "auto", "data-ad-slot" => "8624822181", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
