= form_tag(search_path, :method => "get", :id => "live-search", :class => 'search-form') do
  #col-size-search.col-size-search
    #box-search.box-search
      .beats
        %i.fa.fa-search{"aria-hidden" => "true"}>
        = @query.presence || 'What product are you looking for?'
      #main-search-popup.main-search-popup
        #box-search-popup.box-search-popup
          #close-popup-search.close-popup-search
          .search-popup-main
            %fieldset
              %input#filter.input-search.form-control{:type => "text", :name => 'query', :value => (@query.presence || ' '), :autocomplete => "off", :placeholder => "What Product Are You Looking For?"}
              %span#clear-searh.clear-searh
    / #wrap-allcat.wrap-allcat
    /   .select
    /     %select#cat-select-menu.cat-select-menu.select-hidden
    /       %option All Sites
    /       %option Amazon
    /       %option Walmart
    /       %option NewEgg
    /       %option Staples
    /       %option Best Buy
    /       %option Home Depot
    /       %option Target
    /       %option Costco
    /   %i.fa.fa-angle-down
