.container
  .row.search-container
    = form_tag(search_path, :method => "get", class: "col-lg-6 col-lg-offset-3") do
      .input-group.custom-search-form
        %input.form-control{:type => "text", :name => 'query', :value => "#{params[:query]}", :placeholder => 'What product are you looking for?'}
          %span.input-group-btn
            %button.btn.btn-default{:type => "submit", :name => 'commit'}
              %span.glyphicon.glyphicon-search
      .input-group
        %strong trending:
        %a{href: '/search?query=chromecast'} chromecast,
        %a{href: '/search?query=star wars'} star wars,
        %a{href: '/search?query=night stand'} night stand,
        %a{href: '/search?query=samsung 40 inch tv'} samsung 40 inch tv,
        %a{href: '/search?query=iphone cover'} iphone cover
